<roleFilter>
  <id>69101183:16e8d640096:-7fea</id>
  <name>roleFilter</name>
  <className>org.geoserver.security.filter.GeoServerRoleFilter</className>
  <httpResponseHeaderAttrForIncludedRoles>roles</httpResponseHeaderAttrForIncludedRoles>
  <roleConverterName>roleConverter</roleConverterName>
</roleFilter>